In [1]:
import csv
import pandas as pd
df=pd.read_csv("csv/PointBackupData_mod_2.csv",usecols=['time_0','Volt_100','Volt_200'],index_col=False)
df.head(100)

    time_0  Volt_100  Volt_200
0        0  -86.2003  -86.2003
1        5  -86.2260  -86.2260
2       10  -86.1902  -86.1902
3       15  -86.1362  -86.1362
4       20  -86.0916  -86.0916
..     ...       ...       ...
95     475  -21.0186  -39.6021
96     480  -25.5659   16.0519
97     485  -30.7880   13.7399
98     490  -36.7949   15.0191
99     495  -43.4773   17.0791

[100 rows x 3 columns]

In [2]:
df.idxmax()

time_0      200
Volt_100     57
Volt_200    104
dtype: int64

In [3]:
df.loc[57]

time_0      285.0000
Volt_100     21.3444
Volt_200    -86.0077
Name: 57, dtype: float64

In [4]:
df.loc[104]

time_0      520.0000
Volt_100    -69.5031
Volt_200     21.3478
Name: 104, dtype: float64